* {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
body {
    margin: 0;
}
/* Navi starts here */

.topnav {
    overflow: hidden;
    background-color: #303030;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color: grey;
    color: black;
  }
  
  .active {
    background-color: #5DB267;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/* Navi ends here */

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
    color: #5DB267;
}
.wrapper1 {
    margin: 80px auto 0;
    width: 100%;
}
.wrapper1 img {
    width: 300px;
    height: 300px;
    margin: 0 auto 0;
	display: block;
}
.wrapper2 {
    width: 900px;
    margin: 10px auto 10px;
    font-size: 20px;
    text-align: center;
}
.wrapper2 p {
    color: #303030;
    margin: 10px;
}
.wrapper3 {
    width: 100%;
    margin: 0 auto 0;
    background-color: #5DB267;
    font-size: 25px;
    text-align: center;
}
.row {
    display: table;
    width: 900px;
    margin: 0 auto 0;
}
.row p {
    color: white;
}
.column {
    float: left;
    width: 33.33%;
}
.column img {
    width: 200px;
    height: 200px;
    margin: 0 auto 0;
	display: block;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column, .row, .wrapper2 {
    width: 100%;
  }
}
.column p {
    color: #303030;
}
.column span {
    color: white;
}
footer {
    width: 100%;
    margin: 0 auto 0;
    background-color: #303030;
    font-size: 15px;
}
.row2 {
    display: table;
    width: 900px;
    margin: 0 auto 0;
    background-color: #303030;
}
.row2 span {
    color: #5DB267;
}
.row2 p {
    color: white;
    margin: 10px;
}
.column4 {
    float: left;
    width: 50%;
}
.column5 {
    float: left;
    width: 50%;
}
.column4 img {
    width: 250px;
    height: 250px;
    margin: 0 auto 0;
	display: block;
}
@media screen and (max-width: 900px) {
  .column4, .column5, .row2 {
    width: 100%;
  }
}
input[type=text],
input[type=email],
input[type=tel],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #303030;
    font-size: 15px;
    background-color: #f8f8f8;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
    background-color: #bfbfbf;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #303030;
    font-size: 15px;
    resize: none;
}
input[type=submit] {
    width:100px;
    margin-top: 10px;
	padding: 10px;
    background-color: #5DB267;
    color: #303030;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
	float: left;
}
input[type=submit]:hover {
    background-color: #bfbfbf;
    cursor: pointer;
}
#booking {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin: auto;
}
#booking p {
    color: #303030;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
}
form {
    width: 900px;
    margin: auto;
    font-size: 15px;
}
.column1 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding-right: 5px;
    padding-left: 5px;
}
.column2 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding-right: 5px;
    padding-left: 5px;
}
.column3 {
    float: left;
    width: 100%;
    margin-top: 6px;
    padding-right: 5px;
    padding-left: 5px;
}
/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 900px) {
    form, .column1, .column2, .column3 {
        width: 100%;
        margin-top: 0;
    }
}
