* {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
body {
    margin: 0;
}
.wrapper1 {
    width: 50%;
    margin: 20px auto 10px;
    font-size: 20px;
    text-align: center;
}
.wrapper1 p {
    color: #303030;
}
button {
    padding: 10px;
    background-color: #5DB267;
    color: #303030;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}
button:hover {
    background-color: #bfbfbf;
    cursor: pointer;
}
